#loading{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    background: hsla(224, 100%, 17%, 1);
    background: linear-gradient(90deg, hsla(224, 100%, 17%, 1) 0%, hsla(42, 93%, 95%, 1) 84%, hsla(187, 55%, 71%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(224, 100%, 17%, 1) 0%, hsla(42, 93%, 95%, 1) 84%, hsla(187, 55%, 71%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(224, 100%, 17%, 1) 0%, hsla(42, 93%, 95%, 1) 84%, hsla(187, 55%, 71%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#001858", endColorstr="#FEF6E4", GradientType=1 );
    /*background:rgb(208,158,186) ;
    /* background: radial-gradient(circle, rgba(0,56,153,1) 11%, rgba(7,61,149,1) 13%, rgba(229,205,23,1) 83%); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-wrapper {
    width: 60px;
    height: 60px;
}
.loader {
    box-sizing: border-box; 
    width: 100%;
    height: 100%; 
    border: 5px solid #162534; 
    border-top-color: #003899; 
    border-bottom-color: #E5CD17;
    border-radius: 50%; 
    animation: rotate 5s linear infinite; 
}
.loader-inner{
    border-top-color: #fff;
    border-bottom-color: #fff;
    animation-duration: 2.5s;
}
@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
    }
    50%{
        transform: scale(.8) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

.navbar{
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: space-between; 
    padding-block: 15px;
}
.navbar a{
    text-decoration: none;
    color: inherit; /*Inherits the same color as the parent element or grandparent (the body) unless you set the color to the navbar.*/
}
.container1 {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background-color: #fff;
}
.logo{
    margin-left: 120px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px; 
    margin-right: 120px;
    padding-top: 10px;
}
#toggler,
.navbar label{
    display: none;/*Hide the checkbox and label on large screens.*/
}
/*Breakpoint set at 600px, once it is 600px or smaller the layout changes to use the following styles overriding the old ones.*/
@media screen and 
(max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0; /*Makes the max-height 0 to side the expanded menu.*/
        overflow: hidden; /*Hides the overflowing content.*/
    }
    .list{
        flex-direction: column; /*Chances the direction of the flex container. By default it is a row so we change it to column in small screens.*/
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex; /*Makes it an inline flex container for the icon. Used for centering the icon inside this box.*/
        align-items: center;
        cursor: pointer;
    }
    /* 
        The general sibling selector (~) selects all elements that are next siblings of #toggler.
        In this case we target the .menu and we turn the height back to 100% to show the menu.
    */
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
}
.text{
    color: #E5CD17;
}
.img{
    box-sizing: border-box;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.container3 {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNjMiIGhlaWdodD0iMTY3IiB2aWV3Qm94PSIwIDAgMTYzIDE2NyI+CiAgICA8Y2lyY2xlIGN4PSIxMjEiIGN5PSI1NSIgcj0iMTEyIiBmaWxsPSIjRDFEM0ZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC03MCkiLz4KPC9zdmc+Cg==), 
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTM0IiBoZWlnaHQ9IjIyNCIgdmlld0JveD0iMCAwIDEzNCAyMjQiPgogICAgPGRlZnM+CiAgICAgICAgPGNpcmNsZSBpZD0icHJlZml4X19hIiBjeD0iMTEyIiBjeT0iMTEyIiByPSIxMTIiLz4KICAgIDwvZGVmcz4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHVzZSBmaWxsPSIjRDFEM0ZGIiB4bGluazpocmVmPSIjcHJlZml4X19hIi8+CiAgICA8L2c+Cjwvc3ZnPgo=),
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNjUiIGhlaWdodD0iMzA0IiB2aWV3Qm94PSIwIDAgMjY1IDMwNCI+CiAgICA8Y2lyY2xlIGN4PSIxMzQiIGN5PSI2MDMiIHI9IjIwMSIgZmlsbD0iI0QxRDNGRiIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNzAgLTQwMikiLz4KPC9zdmc+Cg==);
    background-repeat: no-repeat;
    background-position: 0 0,top 20% right,0 100%;
    background-color: #dbddff;
    border-radius: 24px;
    padding: 80px 100px;
}
.berita-pengmas {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.course-card {
    width: 100%;
    margin-top: 60px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.selector-for-some-widget {
    box-sizing: content-box;
  }
.course-card .badge {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    font-family: GilroySemiBold;
    background-color: #202d50;
    color: #fff;
    padding: 7px 15px;
    border-bottom-right-radius: 16px;
}
.heading .duration {
    width: 25%;
    text-align: center;
    align-self: center;
    font-size: 14px;
    font-family: GilroyRegular;
    color: #384670;
    text-overflow: ellipsis;
    overflow: hidden;
}
#Berita{
    scroll-behavior: smooth;
}
.dokumentasi-1{
    box-shadow: 10px -11px 5px -3px rgba(212,210,210,0.91);
    -webkit-box-shadow: 10px -11px 5px -3px rgba(212,210,210,0.91);
    -moz-box-shadow: 10px -11px 5px -3px rgba(212,210,210,0.91);
}
#dokumen{
    scroll-behavior: smooth;
}
.parallax {

    height: 350px;
    background-image: linear-gradient(rgba(10, 9, 9, 0.9),rgba(10, 9, 9, 0.5)),url("../image/home/home1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
	font-size: 30px;
	color: white;
	padding-top:  50px;
	margin-top: 2em;
}
#contact{
    scroll-behavior: smooth;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
#map {
    height: 300px;
    width: 100%;
    margin-bottom: 3em;
}
.DataPens {
    list-style-type: none;
}
.icons-wrapper{
    position: relative;
    margin-left: 1em;
}
.icon{
    display: inline-block;
    font-size: 44px;
    animation: float 3s ease-in-out infinite; 
}	
.ri-instagram-line{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* This is the first item so no animation delay needed.*/
}

.ri-facebook-circle-line{
    color: #1877f2;
    animation-delay: 1s; /* Adds a animation delay of 1 seconds.*/
}

.ri-youtube-line{
    color: #dd1313;
    animation-delay: 2s; /* Adds a animation delay of 2 seconds.*/
}

@keyframes float {
    0%{
        transform: translateY(0); 
    }
    50%{
        transform: translateY(-15px); 
    }
    100%{
        transform: translateY(0); 
    }
}
.col-lg-12 {
    flex:0 0 100%;
    max-width: 100%;
    text-align: center;
}
.footer{
    padding-top: 12em;
}